USE [Reporting]
GO
/****** Object:  Table [RA100].[t_FPIDates]    Script Date: 9/5/2023 2:06:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RA100].[t_FPIDates](
	[SiteID] [int] NOT NULL,
	[FPIDate] [date] NULL
) ON [PRIMARY]
GO
