USE [Reporting]
GO
/****** Object:  Table [RA100].[t_FPIDates]    Script Date: 8/28/2023 11:51:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RA100].[t_FPIDates](
	[SiteID] [int] NOT NULL,
	[FPIDate] [date] NULL
) ON [PRIMARY]
GO
