USE [Reporting]
GO
/****** Object:  View [RA102].[v_op_Enroll_Drugs]    Script Date: 8/28/2023 11:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [RA102].[v_op_Enroll_Drugs] as

WITH months as (
select cast(1  as int) as MonthCode, 'JAN' as MonthString
union 
select cast(2  as int) as MonthCode, 'FEB' as MonthString
union 
select cast(3  as int) as MonthCode, 'MAR' as MonthString
union 
select cast(4  as int) as MonthCode, 'APR' as MonthString
union 
select cast(5  as int) as MonthCode, 'MAY' as MonthString
union 
select cast(6  as int) as MonthCode, 'JUN' as MonthString
union 
select cast(7  as int) as MonthCode, 'JUL' as MonthString
union 
select cast(8  as int) as MonthCode, 'AUG' as MonthString
union 
select cast(9  as int) as MonthCode, 'SEP' as MonthString
union 
select cast(10 as int) as MonthCode, 'OCT' as MonthString
union 
select cast(11 as int) as MonthCode, 'NOV' as MonthString
union 
select cast(12 as int) as MonthCode, 'DEC' as MonthString
)



, drugs as (

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.staging.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.ORENCIA_USE='X' THEN 'abatacept (Orencia)'
	     ELSE ''
	  END AS DRUGNAME
	,NULL AS OTHERSPECIFY
	,SUBSTRING(PE4.ORENCIA_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.ORENCIA_DT_ST_DY AS STARTDAY
	 ,PE4.ORENCIA_DT_ST_MO AS STARTMONTH
	 ,PE4.ORENCIA_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_ORENCIA_DEC AS STARTREASON1
     ,PE4.RSNSTART2_ORENCIA_DEC AS STARTREASON2
     ,PE4.RSNSTART3_ORENCIA_DEC AS STARTREASON3

     ,SUBSTRING(PE4.ORENCIA_FIRSTEVER_DEC, 14, 17) AS FIRSTEVERUSE

	 ,PE4.ORENCIA_DT_STP_DY AS STOPDAY
	 ,PE4.ORENCIA_DT_STP_MO  AS STOPMONTH
	 ,PE4.ORENCIA_DT_STP_YR AS STOPYEAR

	 	 ,PE4.RSNSTOP1_ORENCIA_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_ORENCIA_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_ORENCIA_DEC AS STOPREASON3

     ,CAST(PE4.ORENCIA_DOSE_DEC AS varchar(50)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PE4.ORENCIA_DOSE_OTH AS OTHERDOSE
	 ,CONVERT(varchar(25), PE4.ORENCIA_DOSE_UNITS) AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,CAST(PE4.ORENCIA_FREQ AS varchar(150)) AS DRUGFREQ
     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.STAGING.PE_04 PE4
WHERE VISITID=10 AND PE4.ORENCIA_USE='X'

UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.HUMIRA_USE='X' THEN 'adalimumab (Humira)'
	     ELSE ''
	  END 
	AS DRUGNAME

	,NULL AS OTHERSPECIFY

	,SUBSTRING(PE4.HUMIRA_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.HUMIRA_DT_ST_DY AS STARTDAY
	 ,PE4.HUMIRA_DT_ST_MO AS STARTMONTH
	 ,PE4.HUMIRA_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_HUMIRA_DEC AS STARTREASON1
     ,PE4.RSNSTART2_HUMIRA_DEC AS STARTREASON2
     ,PE4.RSNSTART3_HUMIRA_DEC AS STARTREASON3

     ,SUBSTRING(PE4.HUMIRA_FIRSTEVER_DEC, 14, 25) AS FIRSTEVERUSE

	 ,PE4.HUMIRA_DT_STP_DY AS STOPDAY
	 ,PE4.HUMIRA_DT_STP_MO AS STOPMONTH
	 ,PE4.HUMIRA_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_HUMIRA_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_HUMIRA_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_HUMIRA_DEC AS STOPREASON3

     ,CAST(PE4.HUMIRA_DOSE_DEC AS varchar(50)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PE4.HUMIRA_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PE4.HUMIRA_FREQ_DEC, 14, 25) AS DRUGFREQ
	 
	 ,CONVERT(varchar(25), HUMIRA_FREQ_OTH) AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.STAGING.PE_04 PE4
WHERE VISITID=10 AND PE4.HUMIRA_USE='X'

UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.CIMZIA_USE='X' THEN 'certolizumab pegol (Cimzia)'
	     ELSE ''
	  END 
	AS DRUGNAME
	,NULL AS OTHERSPECIFY
	,SUBSTRING(PE4.CIMZIA_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.CIMZIA_DT_ST_DY AS STARTDAY
	 ,PE4.CIMZIA_DT_ST_MO AS STARTMONTH
	 ,PE4.CIMZIA_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_CIMZIA_DEC AS STARTREASON1
     ,PE4.RSNSTART2_CIMZIA_DEC AS STARTREASON2
     ,PE4.RSNSTART3_CIMZIA_DEC AS STARTREASON3

     ,SUBSTRING(PE4.CIMZIA_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PE4.CIMZIA_DT_STP_DY AS STOPDAY
	 ,PE4.CIMZIA_DT_STP_MO AS STOPMONTH
	 ,PE4.CIMZIA_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_CIMZIA_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_CIMZIA_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_CIMZIA_DEC AS STOPREASON3

     ,CAST(PE4.CIMZIA_DOSE_DEC AS varchar(50)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PE4.CIMZIA_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,CAST(PE4.CIMZIA_FREQ AS varchar(150)) AS DRUGFREQ
     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.staging.PE_04 PE4
WHERE VISITID=10 AND PE4.CIMZIA_USE='X'

UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.ENBREL_USE='X' THEN 'etanercept (Enbrel)'
	     ELSE ''
	  END 
	AS DRUGNAME
	,NULL AS OTHERSPECIFY
	,SUBSTRING(PE4.ENBREL_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.ENBREL_DT_ST_DY AS STARTDAY
	 ,PE4.ENBREL_DT_ST_MO AS STARTMONTH
	 ,PE4.ENBREL_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_ENBREL_DEC AS STARTREASON1
     ,PE4.RSNSTART2_ENBREL_DEC AS STARTREASON2
     ,PE4.RSNSTART3_ENBREL_DEC AS STARTREASON3

     ,SUBSTRING(PE4.ENBREL_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PE4.ENBREL_DT_STP_DY AS STOPDAY
	 ,PE4.ENBREL_DT_STP_MO AS STOPMONTH
	 ,PE4.ENBREL_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_ENBREL_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_ENBREL_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_ENBREL_DEC AS STOPREASON3

     ,CAST(PE4.ENBREL_DOSE_DEC AS varchar(50)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PE4.ENBREL_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	  ,SUBSTRING(PE4.ENBREL_FREQ_DEC, 14, 18) AS DRUGFREQ
	 
	 ,ENBREL_FREQ_OTH AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.staging.PE_04 PE4
WHERE VISITID=10 AND PE4.ENBREL_USE='X'

UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.SIMPONI_USE='X' THEN 'golimumab (Simponi)'
	     ELSE ''
	  END 
	AS DRUGNAME
	,NULL AS OTHERSPECIFY
	,SUBSTRING(PE4.SIMPONI_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.SIMPONI_DT_ST_DY AS STARTDAY
	 ,PE4.SIMPONI_DT_ST_MO AS STARTMONTH
	 ,PE4.SIMPONI_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_SIMPONI_DEC AS STARTREASON1
     ,PE4.RSNSTART2_SIMPONI_DEC AS STARTREASON2
     ,PE4.RSNSTART3_SIMPONI_DEC AS STARTREASON3

     ,SUBSTRING(PE4.SIMPONI_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PE4.SIMPONI_DT_STP_DY AS STOPDAY
	 ,PE4.SIMPONI_DT_STP_MO  AS STOPMONTH
	 ,PE4.SIMPONI_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_SIMPONI_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_SIMPONI_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_SIMPONI_DEC AS STOPREASON3

     ,CAST(PE4.SIMPONI_DOSE_DEC AS varchar(50)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PE4.SIMPONI_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

 	 ,SUBSTRING(PE4.SIMPONI_FREQ_DEC, 14, 40) AS DRUGFREQ
	 
	 ,PE4.SIMPONI_FREQ_OTH AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.staging.PE_04 PE4
WHERE VISITID=10 AND PE4.SIMPONI_USE='X'

UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.REMICADE_USE='X' THEN 'infliximab (Remicade)'
	     ELSE ''
	  END 
	AS DRUGNAME
	,NULL AS OTHERSPECIFY
	,SUBSTRING(PE4.REMICADE_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.REMICADE_DT_ST_DY AS STARTDAY
	 ,PE4.REMICADE_DT_ST_MO  AS STARTMONTH
	 ,PE4.REMICADE_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_REMICADE_DEC AS STARTREASON1
     ,PE4.RSNSTART2_REMICADE_DEC AS STARTREASON2
     ,PE4.RSNSTART3_REMICADE_DEC AS STARTREASON3

     ,SUBSTRING(PE4.REMICADE_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PE4.REMICADE_DT_STP_DY AS STOPDAY
	 ,PE4.REMICADE_DT_STP_MO  AS STOPMONTH
	 ,PE4.REMICADE_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_REMICADE_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_REMICADE_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_REMICADE_DEC AS STOPREASON3

     ,(CONVERT(VARCHAR(25), PE4.REMICADE_DOSE) + ' mg/kg') AS DOSE

     ,NULL AS MTXMODE
	 ,PE4.REMICADE_VIALS AS VIALS
	 ,NULL AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,('q ' + convert(varchar(4), PE4.REMICADE_FREQ) + ' Weeks') AS DRUGFREQ
     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.staging.PE_04 PE4
WHERE VISITID=10 AND PE4.REMICADE_USE='X'

UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.vID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.REMICADE_BIOSIM_USE='X' THEN 'infliximab BS'
	     ELSE ''
	  END 
	AS DRUGNAME
	,NULL AS OTHERSPECIFY
	,SUBSTRING(PE4.REMICADE_BIOSIM_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.REMICADE_BIOSIM_DT_ST_DY AS STARTDAY
	 ,PE4.REMICADE_BIOSIM_DT_ST_MO  AS STARTMONTH
	 ,PE4.REMICADE_BIOSIM_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_REMICADE_BIOSIM_DEC AS STARTREASON1
     ,PE4.RSNSTART2_REMICADE_BIOSIM_DEC AS STARTREASON2
     ,PE4.RSNSTART3_REMICADE_BIOSIM_DEC AS STARTREASON3

     ,SUBSTRING(PE4.REMICADE_BIOSIM_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PE4.REMICADE_BIOSIM_DT_STP_DY AS STOPDAY
	 ,PE4.REMICADE_BIOSIM_DT_STP_MO AS STOPMONTH
	 ,PE4.REMICADE_BIOSIM_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_REMICADE_BIOSIM_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_REMICADE_BIOSIM_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_REMICADE_BIOSIM_DEC AS STOPREASON3

    ,CAST(PE4.REMICADE_BIOSIM_DOSE AS varchar(50)) AS DOSE

     ,NULL AS MTXMODE
	 ,CAST(PE4.REMICADE_BIOSIM_VIALS AS varchar(5)) AS VIALS
	 ,NULL AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,('q ' + CAST(PE4.REMICADE_BIOSIM_FREQ AS varchar(25)) + ' Weeks') AS DRUGFREQ
     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.staging.PE_04 PE4
WHERE VISITID=10 AND PE4.REMICADE_BIOSIM_USE='X'


UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.staging.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.staging.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.ACTEMRA_USE='X' THEN 'tocilizumab (Actemra)'
	     ELSE ''
	  END 
	AS DRUGNAME
	,NULL AS OTHERSPECIFY
	,SUBSTRING(PE4.ACTEMRA_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.ACTEMRA_DT_ST_DY AS STARTDAY
	 ,PE4.ACTEMRA_DT_ST_MO  AS STARTMONTH
	 ,PE4.ACTEMRA_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_ACTEMRA_DEC AS STARTREASON1
     ,PE4.RSNSTART2_ACTEMRA_DEC AS STARTREASON2
     ,PE4.RSNSTART3_ACTEMRA_DEC AS STARTREASON3

     ,SUBSTRING(PE4.ACTEMRA_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PE4.ACTEMRA_DT_STP_DY AS STOPDAY
	 ,PE4.ACTEMRA_DT_STP_MO AS STOPMONTH
	 ,PE4.ACTEMRA_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_ACTEMRA_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_ACTEMRA_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_ACTEMRA_DEC AS STOPREASON3

     ,CAST(PE4.ACTEMRA_DOSE_DEC AS varchar(150)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PE4.ACTEMRA_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PE4.ACTEMRA_FREQ_DEC, 14, 40) AS DRUGFREQ
     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.staging.PE_04 PE4
WHERE VISITID=10 AND PE4.ACTEMRA_USE='X'


UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.staging.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.staging.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.XELJANZ_USE='X' THEN 'tofacitnib (Xeljanz)'
	     ELSE ''
	  END 
	AS DRUGNAME
	,NULL AS OTHERSPECIFY
	,SUBSTRING(PE4.XELJANZ_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.XELJANZ_DT_ST_DY AS STARTDAY
	 ,PE4.XELJANZ_DT_ST_MO AS STARTMONTH
	 ,PE4.XELJANZ_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_XELJANZ_DEC AS STARTREASON1
     ,PE4.RSNSTART2_XELJANZ_DEC AS STARTREASON2
     ,PE4.RSNSTART3_XELJANZ_DEC AS STARTREASON3

     ,SUBSTRING(PE4.XELJANZ_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PE4.XELJANZ_DT_STP_DY AS STOPDAY
	 ,PE4.XELJANZ_DT_STP_MO AS STOPMONTH
	 ,PE4.XELJANZ_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_XELJANZ_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_XELJANZ_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_XELJANZ_DEC AS STOPREASON3

     ,CAST(PE4.XELJANZ_DOSE_DEC as varchar(150)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PE4.XELJANZ_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PE4.XELJANZ_FREQ_DEC, 14, 40) AS DRUGFREQ
     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS


FROM MERGE_RA_Japan.staging.PE_04 PE4
WHERE VISITID=10 AND PE4.XELJANZ_USE='X'

UNION

SELECT
	 PE4.SITENUM AS SITEID
	,PE4.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.staging.PRO_01 A WHERE A.VID=PE4.VID AND A.SUBNUM=PE4.SUBNUM AND A.VISITID=PE4.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.staging.VIS_DATE B WHERE B.VID=PE4.VID AND B.SUBNUM=PE4.SUBNUM AND B.VISITID=PE4.VISITID) AS VISITDATE

	,CASE
	     WHEN PE4.OTH_BIOTS_USE='X' THEN ('Other Biologic and Targeted Synthetic - ' + ISNULL(OTH_BIOTS_TEXT, 'Not specified'))
	     ELSE ''
	  END 
	AS DRUGNAME
	,PE4.OTH_BIOTS_TEXT AS OTHERSPECIFY
	,SUBSTRING(PE4.OTH_BIOTS_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PE4.OTH_BIOTS_DT_ST_DY AS STARTDAY
	 ,PE4.OTH_BIOTS_DT_ST_MO AS STARTMONTH
	 ,PE4.OTH_BIOTS_DT_ST_YR AS STARTYEAR

	 ,PE4.RSNSTART1_OTH_BIOTS_DEC AS STARTREASON1
     ,PE4.RSNSTART2_OTH_BIOTS_DEC AS STARTREASON2
     ,PE4.RSNSTART3_OTH_BIOTS_DEC AS STARTREASON3

     ,SUBSTRING(PE4.OTH_BIOTS_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PE4.OTH_BIOTS_DT_STP_DY AS STOPDAY
	 ,PE4.OTH_BIOTS_DT_STP_MO AS STOPMONTH
	 ,PE4.OTH_BIOTS_DT_STP_YR AS STOPYEAR

	 ,PE4.RSNSTOP1_OTH_BIOTS_DEC AS STOPREASON1
     ,PE4.RSNSTOP2_OTH_BIOTS_DEC AS STOPREASON2
     ,PE4.RSNSTOP3_OTH_BIOTS_DEC AS STOPREASON3

     ,CONVERT(varchar(150), OTH_BIOTS_DOSE) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,NULL AS OTHERDOSE
	 ,PE4.OTH_BIOTS_DOSE_UNITS AS OTHERUNITS

	 ,PE4.OTH_BIOTS_ROUTE_DEC AS DRUGROUTE

     ,PE4.OTH_BIOTS_ROUTE_OTHER AS OTHDRUGROUTE

	 ,NULL AS DRUGFREQ
	 ,PE4.OTH_BIOTS_FREQ AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,CONVERT(VARCHAR(25), PE4.OTH_BIOTS_FREQ_UNITS) AS OTHFREQUNITS


FROM MERGE_RA_Japan.staging.PE_04 PE4
WHERE VISITID=10 AND PE4.OTH_BIOTS_USE='X'

UNION

SELECT
	 PRO5.SITENUM AS SITEID
	,PRO5.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PRO5.VID AND A.SUBNUM=PRO5.SUBNUM AND A.VISITID=PRO5.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PRO5.VID AND B.SUBNUM=PRO5.SUBNUM AND B.VISITID=PRO5.VISITID) AS VISITDATE

	,CASE
	     WHEN PRO5.BUC_USE='X' THEN 'bucillamine'
	     ELSE ''
	  END 
	AS DRUGNAME

	,NULL AS OTHERSPECIFY

	,SUBSTRING(PRO5.BUC_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PRO5.BUC_DT_ST_DY AS STARTDAY
	 ,PRO5.BUC_DT_ST_MO AS STARTMONTH
	 ,PRO5.BUC_DT_ST_YR AS STARTYEAR

	 ,PRO5.RSNSTART1_BUC_DEC AS STARTREASON1
     ,PRO5.RSNSTART2_BUC_DEC AS STARTREASON2
     ,PRO5.RSNSTART3_BUC_DEC AS STARTREASON3

     ,SUBSTRING(PRO5.BUC_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE


	 ,PRO5.BUC_DT_STP_DY AS STOPDAY
	 ,PRO5.BUC_DT_STP_MO AS STOPMONTH
	 ,PRO5.BUC_DT_STP_YR AS STOPYEAR

	 ,PRO5.RSNSTOP1_BUC_DEC AS STOPREASON1
     ,PRO5.RSNSTOP2_BUC_DEC AS STOPREASON2
     ,PRO5.RSNSTOP3_BUC_DEC AS STOPREASON3

     ,CAST(PRO5.BUC_DOSE_DEC AS varchar(150)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PRO5.BUC_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,Null AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PRO5.BUC_FREQ_DEC, 14, 25) AS DRUGFREQ

     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,CONVERT(VARCHAR(25),PRO5.BUC_FREQ_OTH) AS OTHFREQUNITS



FROM MERGE_RA_Japan.STAGING.PRO_05 PRO5
WHERE VISITID=10 AND PRO5.BUC_USE='X'

UNION

SELECT
	 PRO5.SITENUM AS SITEID
	,PRO5.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PRO5.VID AND A.SUBNUM=PRO5.SUBNUM AND A.VISITID=PRO5.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PRO5.VID AND B.SUBNUM=PRO5.SUBNUM AND B.VISITID=PRO5.VISITID) AS VISITDATE

	,CASE
	     WHEN PRO5.KEARAMU_USE='X' THEN 'iguratimod (Careram)'
	     ELSE ''
	  END 
	AS DRUGNAME

	,NULL AS OTHERSPECIFY

	,SUBSTRING(PRO5.KEARAMU_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PRO5.KEARAMU_DT_ST_DY AS STARTDAY
	 ,PRO5.KEARAMU_DT_ST_MO AS STARTMONTH
	 ,PRO5.KEARAMU_DT_ST_YR AS STARTYEAR

	 ,PRO5.RSNSTART1_KEARAMU_DEC AS STARTREASON1
     ,PRO5.RSNSTART2_KEARAMU_DEC AS STARTREASON2
     ,PRO5.RSNSTART3_KEARAMU_DEC AS STARTREASON3

     ,SUBSTRING(PRO5.KEARAMU_FIRST_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PRO5.KEARAMU_DT_STP_DY AS STOPDAY
	 ,PRO5.KEARAMU_DT_STP_MO AS STOPMONTH
	 ,PRO5.KEARAMU_DT_STP_YR AS STOPYEAR

 	 ,PRO5.RSNSTOP1_KEARAMU_DEC AS STOPREASON1
     ,PRO5.RSNSTOP2_KEARAMU_DEC AS STOPREASON2
     ,PRO5.RSNSTOP3_KEARAMU_DEC AS STOPREASON3

     ,CAST(PRO5.KEARAMU_DOSE_DEC AS varchar(150)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PRO5.KEARAMU_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PRO5.KEARAMU_FREQ_DEC, 14, 50) AS DRUGFREQ

     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,CONVERT(VARCHAR(25),PRO5.KEARAMU_FREQ_OTH) AS OTHFREQUNITS

FROM MERGE_RA_Japan.STAGING.PRO_05 PRO5
WHERE VISITID=10 AND PRO5.KEARAMU_USE='X'

UNION

SELECT
	 PRO5.SITENUM AS SITEID
	,PRO5.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PRO5.VID AND A.SUBNUM=PRO5.SUBNUM AND A.VISITID=PRO5.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PRO5.VID AND B.SUBNUM=PRO5.SUBNUM AND B.VISITID=PRO5.VISITID) AS VISITDATE

	,CASE
	     WHEN PRO5.ARAVA_USE='X' THEN 'lefluonomide (Arava)'
	     ELSE ''
	  END 
	AS DRUGNAME

	,NULL AS OTHERSPECIFY

	,SUBSTRING(PRO5.ARAVA_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PRO5.ARAVA_DT_ST_DY AS STARTDAY
	 ,PRO5.ARAVA_DT_ST_MO AS STARTMONTH
	 ,PRO5.ARAVA_DT_ST_YR AS STARTYEAR

	 ,PRO5.RSNSTART1_ARAVA_DEC AS STARTREASON1
     ,PRO5.RSNSTART2_ARAVA_DEC AS STARTREASON2
     ,PRO5.RSNSTART3_ARAVA_DEC AS STARTREASON3

     ,SUBSTRING(PRO5.ARAVA_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PRO5.ARAVA_DT_STP_DY AS STOPDAY
	 ,PRO5.ARAVA_DT_STP_MO AS STOPMONTH
	 ,PRO5.ARAVA_DT_STP_YR AS STOPYEAR

 	 ,PRO5.RSNSTOP1_ARAVA_DEC AS STOPREASON1
     ,PRO5.RSNSTOP2_ARAVA_DEC AS STOPREASON2
     ,PRO5.RSNSTOP3_ARAVA_DEC AS STOPREASON3

     ,CAST(PRO5.ARAVA_DOSE_DEC as varchar(150)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,PRO5.ARAVA_DOSE_OTH AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PRO5.ARAVA_FREQ_DEC, 14, 50) AS DRUGFREQ

     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,CONVERT(VARCHAR(25),PRO5.ARAVA_FREQ_OTH) AS OTHFREQUNITS
FROM MERGE_RA_Japan.staging.PRO_05 PRO5
WHERE VISITID=10 AND PRO5.ARAVA_USE='X'

UNION

SELECT
	 PRO5.SITENUM AS SITEID
	,PRO5.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PRO5.VID AND A.SUBNUM=PRO5.SUBNUM AND A.VISITID=PRO5.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PRO5.VID AND B.SUBNUM=PRO5.SUBNUM AND B.VISITID=PRO5.VISITID) AS VISITDATE

	,CASE
	     WHEN PRO5.MTX_USE='X' THEN 'methotrexate'
	     ELSE ''
	  END 
	AS DRUGNAME

	,NULL AS OTHERSPECIFY

	,SUBSTRING(PRO5.MTX_STATUS_DEC, 14, 12) AS STATUSYESTERDAY

	 ,PRO5.MTX_DT_ST_DY AS STARTDAY
	 ,PRO5.MTX_DT_ST_MO AS STARTMONTH
	 ,PRO5.MTX_DT_ST_YR AS STARTYEAR

	 ,PRO5.RSNSTART1_MTX_DEC AS STARTREASON1
     ,PRO5.RSNSTART2_MTX_DEC AS STARTREASON2
     ,PRO5.RSNSTART3_MTX_DEC AS STARTREASON3

     ,SUBSTRING(PRO5.MTX_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PRO5.MTX_DT_STP_DY AS STOPDAY
	 ,PRO5.MTX_DT_STP_MO AS STOPMONTH
	 ,PRO5.MTX_DT_STP_YR AS STOPYEAR

 	 ,PRO5.RSNSTOP1_MTX_DEC AS STOPREASON1
     ,PRO5.RSNSTOP2_MTX_DEC AS STOPREASON2
     ,PRO5.RSNSTOP3_MTX_DEC AS STOPREASON3

     ,CAST(PRO5.MTX_DOSE AS varchar(150)) AS DOSE

     ,PRO5.MTX_INTAKE_DEC AS MTXMODE
	 ,NULL AS VIALS
	 ,null AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PRO5.MTX_FREQ_DEC, 14, 12) AS DRUGFREQ

     ,NULL AS OTHFREQ
	 ,PRO5.MTX_DIVDOSE AS MTXFREQ
	 ,NULL AS OTHFREQUNITS

FROM MERGE_RA_Japan.STAGING.PRO_05 PRO5
WHERE VISITID=10 AND PRO5.MTX_USE='X'

UNION

SELECT
	 PRO5.SITENUM AS SITEID
	,PRO5.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PRO5.VID AND A.SUBNUM=PRO5.SUBNUM AND A.VISITID=PRO5.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PRO5.VID AND B.SUBNUM=PRO5.SUBNUM AND B.VISITID=PRO5.VISITID) AS VISITDATE

	,CASE
	     WHEN PRO5.PRED_USE='X' THEN 'prednisone/prednisolone'
	     ELSE ''
	  END 
	AS DRUGNAME

	,NULL AS OTHERSPECIFY

	,SUBSTRING(PRO5.PRED_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PRO5.PRED_DT_ST_DY AS STARTDAY
	 ,PRO5.PRED_DT_ST_MO AS STARTMONTH
	 ,PRO5.PRED_DT_ST_YR AS STARTYEAR

	 ,PRO5.RSNSTART1_PRED_DEC AS STARTREASON1
     ,PRO5.RSNSTART2_PRED_DEC AS STARTREASON2
     ,PRO5.RSNSTART3_PRED_DEC AS STARTREASON3

     ,SUBSTRING(PRO5.PRED_FIRST_DEC, 15, 18) AS FIRSTEVERUSE

	 ,PRO5.PRED_DT_STP_DY AS STOPDAY
	 ,PRO5.PRED_DT_STP_MO  AS STOPMONTH
	 ,PRO5.PRED_DT_STP_YR AS STOPYEAR

 	 ,PRO5.RSNSTOP1_PRED_DEC AS STOPREASON1
     ,PRO5.RSNSTOP2_PRED_DEC AS STOPREASON2
     ,PRO5.RSNSTOP3_PRED_DEC AS STOPREASON3

     ,CAST(PRO5.PRED_DOSE AS varchar(150)) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,NULL AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PRO5.PRED_FREQ_DEC, 14, 12) AS DRUGFREQ

     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,CONVERT(VARCHAR(25),PRO5.PRED_FREQ_OTH) AS OTHFREQUNITS

FROM MERGE_RA_Japan.staging.PRO_05 PRO5
WHERE VISITID=10 AND PRO5.PRED_USE='X'

UNION

SELECT
	 PRO5.SITENUM AS SITEID
	,PRO5.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PRO5.VID AND A.SUBNUM=PRO5.SUBNUM AND A.VISITID=PRO5.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PRO5.VID AND B.SUBNUM=PRO5.SUBNUM AND B.VISITID=PRO5.VISITID) AS VISITDATE

	,CASE
	     WHEN PRO5.AZULFIDINE_USE='X' THEN 'sulfasalazine'
	     ELSE ''
	  END 
	AS DRUGNAME

	,NULL AS OTHERSPECIFY

	,SUBSTRING(PRO5.AZULFIDINE_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PRO5.AZULFIDINE_DT_ST_DY AS STARTDAY
	 ,PRO5.AZULFIDINE_DT_ST_MO  AS STARTMONTH
	 ,PRO5.AZULFIDINE_DT_ST_YR AS STARTYEAR

	 ,PRO5.RSNSTART1_AZULFIDINE_DEC AS STARTREASON1
     ,PRO5.RSNSTART2_AZULFIDINE_DEC AS STARTREASON2
     ,PRO5.RSNSTART3_AZULFIDINE_DEC AS STARTREASON3

     ,SUBSTRING(PRO5.AZULFIDINE_FIRSTEVER_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PRO5.AZULFIDINE_DT_STP_DY AS STOPDAY
	 ,PRO5.AZULFIDINE_DT_STP_MO  AS STOPMONTH
	 ,PRO5.AZULFIDINE_DT_STP_YR AS STOPYEAR

	 ,PRO5.RSNSTOP1_AZULFIDINE_DEC AS STOPREASON1
     ,PRO5.RSNSTOP2_AZULFIDINE_DEC AS STOPREASON2
     ,PRO5.RSNSTOP3_AZULFIDINE_DEC AS STOPREASON3

     ,(CONVERT(VARCHAR(25),PRO5.AZULFIDINE_DOSE) + ' mg') AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,NULL AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PRO5.AZULFIDINE_FREQ_DEC, 14, 12) AS DRUGFREQ

     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,NULL AS OTHFREQUNITS

FROM MERGE_RA_Japan.STAGING.PRO_05 PRO5
WHERE VISITID=10 AND PRO5.AZULFIDINE_USE='X'

UNION

SELECT
	 PRO5.SITENUM AS SITEID
	,PRO5.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PRO5.VID AND A.SUBNUM=PRO5.SUBNUM AND A.VISITID=PRO5.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PRO5.VID AND B.SUBNUM=PRO5.SUBNUM AND B.VISITID=PRO5.VISITID) AS VISITDATE

	,CASE
	     WHEN PRO5.PROGRAF_USE='X' THEN 'tacrolimus (Prograf)'
	     ELSE ''
	  END 
	AS DRUGNAME

	,NULL AS OTHERSPECIFY

	,SUBSTRING(PRO5.PROGRAF_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PRO5.PROGRAF_DT_ST_DY AS STARTDAY
	 ,PRO5.PROGRAF_DT_ST_MO  AS STARTMONTH
	 ,PRO5.PROGRAF_DT_ST_YR AS STARTYEAR

	 ,PRO5.RSNSTART1_PROGRAF_DEC AS STARTREASON1
     ,PRO5.RSNSTART2_PROGRAF_DEC AS STARTREASON2
     ,PRO5.RSNSTART3_PROGRAF_DEC AS STARTREASON3

     ,SUBSTRING(PRO5.PROGRAF_FIRST_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PRO5.PROGRAF_DT_STP_DY AS STOPDAY
	 ,PRO5.PROGRAF_DT_STP_MO  AS STOPMONTH
	 ,PRO5.PROGRAF_DT_STP_YR AS STOPYEAR

 	 ,PRO5.RSNSTOP1_PROGRAF_DEC AS STOPREASON1
     ,PRO5.RSNSTOP2_PROGRAF_DEC AS STOPREASON2
     ,PRO5.RSNSTOP3_PROGRAF_DEC AS STOPREASON3

     ,(convert(varchar(25),PRO5.PROGRAF_DOSE) + ' mg') AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,NULL AS OTHERDOSE
	 ,NULL AS OTHERUNITS

	 ,NULL AS DRUGROUTE

     ,NULL AS OTHDRUGROUTE

	 ,SUBSTRING(PRO5.PROGRAF_FREQ_DEC, 14, 12) AS DRUGFREQ

     ,NULL AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,CONVERT(VARCHAR(25),PRO5.PROGRAF_FREQ_OTH) AS OTHFREQUNITS
	 
FROM MERGE_RA_Japan.STAGING.PRO_05 PRO5
WHERE VISITID=10 AND PRO5.PROGRAF_USE='X'

UNION

SELECT
	 PRO5.SITENUM AS SITEID
	,PRO5.SUBNUM AS SUBJECTID
	,(SELECT PHYSICIAN_ID FROM MERGE_RA_JAPAN.STAGING.PRO_01 A WHERE A.VID=PRO5.VID AND A.SUBNUM=PRO5.SUBNUM AND A.VISITID=PRO5.VISITID) AS PROVIDERID
	,(SELECT VISITDATE FROM MERGE_RA_JAPAN.STAGING.VIS_DATE B WHERE B.VID=PRO5.VID AND B.SUBNUM=PRO5.SUBNUM AND B.VISITID=PRO5.VISITID) AS VISITDATE

	,CASE
	     WHEN PRO5.OTH_CSDMARD_USE='X' THEN 'Other conventional synthetic DMARD - ' + ISNULL(PRO5.OTH_CSDMARD_TEXT, 'Not specified')
	     ELSE ''
	  END 
	AS DRUGNAME

	,PRO5.OTH_CSDMARD_TEXT AS OTHERSPECIFY

	,SUBSTRING(PRO5.OTH_CSDMARD_STATUS_DEC, 14, 25) AS STATUSYESTERDAY

	 ,PRO5.OTH_CSDMARD_DT_ST_DY AS STARTDAY
	 ,PRO5.OTH_CSDMARD_DT_ST_MO  AS STARTMONTH
	 ,PRO5.OTH_CSDMARD_DT_ST_YR AS STARTYEAR

	 ,PRO5.RSNSTART1_OTH_CSDMARD_DEC AS STARTREASON1
     ,PRO5.RSNSTART2_OTH_CSDMARD_DEC AS STARTREASON2
     ,PRO5.RSNSTART3_OTH_CSDMARD_DEC AS STARTREASON3

     ,SUBSTRING(PRO5.OTH_CSDMARD_FIRST_DEC, 14, 18) AS FIRSTEVERUSE

	 ,PRO5.OTH_CSDMARD_DT_STP_DY AS STOPDAY
	 ,PRO5.OTH_CSDMARD_DT_STP_MO AS STOPMONTH
	 ,PRO5.OTH_CSDMARD_DT_STP_YR AS STOPYEAR

	 ,PRO5.RSNSTOP1_OTHCSDMARD_DEC AS STOPREASON1
     ,PRO5.RSNSTOP2_OTHCSDMARD_DEC AS STOPREASON2
     ,PRO5.RSNSTOP3_OTHCSDMARD_DEC AS STOPREASON3

     ,convert(varchar(25),PRO5.OTH_CSDMARD_DOSE) AS DOSE

     ,NULL AS MTXMODE
	 ,NULL AS VIALS
	 ,NULL AS OTHERDOSE
	 ,PRO5.OTH_CSDMARD_DOSE_UNITS AS OTHERUNITS

	 ,PRO5.OTH_CSDMARD_ROUTE_DEC AS DRUGROUTE

     ,PRO5.OTH_CSDMARD_ROUTE_OTHER AS OTHDRUGROUTE

	 , NULL AS DRUGFREQ

     ,CONVERT(VARCHAR(10),PRO5.OTH_CSDMARD_FREQ) AS OTHFREQ
	 ,NULL AS MTXFREQ
	 ,OTH_CSDMARD_FREQ_UNITS AS OTHFREQUNITS
	 
FROM MERGE_RA_Japan.STAGING.PRO_05 PRO5
WHERE VISITID=10 AND PRO5.OTH_CSDMARD_USE='X'


--		ORDER BY SITEID, SUBJECTID, VISITDATE
)


SELECT d.[SITEID], 
       d.[SUBJECTID], 
	   d.[PROVIDERID], 
	   d.[VISITDATE], 
	   d.[DRUGNAME], 
	   d.[OTHERSPECIFY], 
	   d.[STATUSYESTERDAY], 
	   d.[STARTDAY], 
       st.[MonthString] as [STARTMONTH], 
	   d.[STARTYEAR], 
	   d.[STARTREASON1], 
	   d.[STARTREASON2], 
	   d.[STARTREASON3], 
	   d.[FIRSTEVERUSE], 
	   d.[STOPDAY], 
	   stp.[MonthString] as [STOPMONTH], 
	   d.[STOPYEAR], 
	   d.[STOPREASON1], 
	   d.[STOPREASON2], 
	   d.[STOPREASON3], 
	   d.[DOSE], 
	   d.[MTXMODE], 
	   d.[VIALS], 
	   d.[OTHERDOSE], 
	   d.[OTHERUNITS], 
	   d.[DRUGROUTE], 
	   d.[OTHDRUGROUTE], 
	   d.[DRUGFREQ], 
	   d.[OTHFREQ], 
	   d.[MTXFREQ], 
	   d.[OTHFREQUNITS] 
FROM drugs d --538
left join months st
on st.MonthCode = d.STARTMONTH
left join months stp
on stp.MonthCode = d.STOPMONTH -- 538
--		ORDER BY SITEID, SUBJECTID, VISITDATE











GO
